body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main-menu{
  margin-left:100px;
  margin-right:100px;
}

.increment,.decrement{
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.increment{
  color: rgb(56, 250, 56)
}

.decrement{
  color: red;
}